@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<br />
<br />

<p>Games4u is an online gaming shop which gives you the best catalog of games in the platforms: PC,PS4,XboxOne and WiiU.</p>
<p>We have low prices and great customer support 24/7.</p>

<br />
<br />

<br />
<br />
<p> Like us on facebook !</p><br />
<p> And be a part of the growing family of gamers!<p /><br />
<p> Share posts ,videos and all your gaming technics!<p /><br />
<p> Tell your freinds and share our page .</p><br />

<br /><br /><br /><br />
<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=758888487567403";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-page" data-href="https://www.facebook.com/Games4Ugamesstore?ref=aymt_homepage_panel" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
